Modulo 1/Sesión 3/PostWork/PizzaOrden/.idea/.gitignore
Modulo 1/Sesión 3/PostWork/PizzaOrden/.idea/compiler.xml
Modulo 1/Sesión 3/PostWork/PizzaOrden/.idea/jarRepositories.xml
Modulo 1/Sesión 3/PostWork/PizzaOrden/.idea/misc.xml
Modulo 1/Sesión 3/PostWork/PizzaOrden/.idea/modules.xml
Modulo 1/Sesión 3/PostWork/PizzaOrden/.idea/libraries/Maven__ch_qos_reload4j_reload4j_1_2_22.xml
Modulo 1/Sesión 3/PostWork/PizzaOrden/.idea/libraries/Maven__com_beust_jcommander_1_82.xml
Modulo 1/Sesión 3/PostWork/PizzaOrden/.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
Modulo 1/Sesión 3/PostWork/PizzaOrden/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_36.xml
Modulo 1/Sesión 3/PostWork/PizzaOrden/.idea/libraries/Maven__org_slf4j_slf4j_reload4j_2_0_3.xml
Modulo 1/Sesión 3/PostWork/PizzaOrden/.idea/libraries/Maven__org_testng_testng_7_6_1.xml
Modulo 1/Sesión 3/PostWork/PizzaOrden/.idea/libraries/Maven__org_webjars_jquery_3_6_0.xml
Modulo 1/Sesión 3/PostWork/PizzaLealtad/.idea/.gitignore
Modulo 1/Sesión 3/PostWork/PizzaLealtad/.idea/compiler.xml
Modulo 1/Sesión 3/PostWork/PizzaLealtad/.idea/jarRepositories.xml
Modulo 1/Sesión 3/PostWork/PizzaLealtad/.idea/misc.xml
Modulo 1/Sesión 3/PostWork/PizzaLealtad/.idea/uiDesigner.xml
.gitignore

Modulo 1/Sesión 6/gsilvav-myAPI-microservicio-a/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.23.1/windows_amd64/CHANGELOG.md
Modulo 1/Sesión 6/gsilvav-myAPI-microservicio-a/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.23.1/windows_amd64/LICENSE
Modulo 1/Sesión 6/gsilvav-myAPI-microservicio-a/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.23.1/windows_amd64/README.md
Modulo 1/Sesión 6/gsilvav-myAPI-microservicio-a/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.23.1/windows_amd64/terraform-provider-docker_v2.23.1.exe
Modulo 1/Sesión 6/gsilvav-myAPI-iac/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.99.0/windows_amd64/terraform-provider-azurerm_v2.99.0_x5.exe
Modulo 1/Sesión 6/gsilvav-myAPI-iac/.terraform/providers/registry.terraform.io/hashicorp/random/3.4.3/windows_amd64/terraform-provider-random_v3.4.3_x5.exe
Modulo 1/Sesión 6/gsilvav-myAPI-iac/.terraform/providers/registry.terraform.io/hashicorp/tls/4.0.4/windows_amd64/terraform-provider-tls_v4.0.4_x5.exe
Modulo 1/Checkpoint/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.23.1/windows_amd64/CHANGELOG.md
Modulo 1/Checkpoint/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.23.1/windows_amd64/LICENSE
Modulo 1/Checkpoint/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.23.1/windows_amd64/README.md
Modulo 1/Checkpoint/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.23.1/windows_amd64/terraform-provider-docker_v2.23.1.exe
Modulo 1/Sesión 6/gsilvav-myAPI-iac/.terraform.lock.hcl
Modulo 1/Checkpoint/.terraform.lock.hcl
